/* all app scss styles here */



@media #{$screen} {

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 20px;
	}


	header {
		background: #333;
		margin: 0 0 20px 0;
		h1 {
			margin: 0;
			font-size: 1rem;
			line-height: 3;
			color: #f1f1f1;
		}
	}

	#sidebar {
		nav {
			ul {
				margin: 0;
				list-style-type: none;
			}
		}
	}

	#content {
		pre {
			background: #f1f1f1;
		}
	}

}